html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  transition: background-color 0.4s ease;
  transition: color 0.4s ease;

  font-family: Arial, sans-serif;
}

.canvas {
  margin: 100px auto;
  width: 80%;

  text-align: center;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

h1 {
  width: 100%;
  margin-bottom: 30px;
}

h2 {
  width: 100%;
  margin-top: 30px;
}

.button {
  width: 100px;
  height: 100px;

  border: 0.5px solid white;
  border-radius: 10px;

  display: inline-block;

  cursor: pointer;

  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.1);
}
